* {
  /** universal secici 
    ** tum html elemanlarinin margin ve padding'lerini sifirla*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: aquamarine;
  /** Ana div'e her yonden 10px dis uzaklik verdik */
  margin: 10px;

  /** Ana divin ic hacmini her yonden 20px genislettik */
  padding: 20px;

  /* text-align: center; */
  /*! Bir blok element icerinde inline elementler var ise bunlar text-align ile hizalanabilir. Blok element icerisindeki blok elementler text align ile hizalanamaz. */
}
.div {
  background-color: antiquewhite;

  padding: 20px;
  /* width: 50%; */
  width: 100px;
  text-align: center;

  /*? div gibi blok elementler margin:auto ile ortalanabilr. */
  margin: 20px auto;
  /* margin-bottom: 10px;
    margin-top: 20px; */

  border: 10px solid rebeccapurple;
}
hr {
  margin: 30px 10px;
  /* height: 20px; */
}

.menu {
  text-align: center;
  background-color: blueviolet;
}
.menu h2 {
  background-color: black;
  color: #fff;
  margin-bottom: 15px;
}

.menu ul li {
  width: 100px;
  text-align: center;
  display: inline-block;
  padding: 14px;
  border-radius: 15px;
  margin-right: 24px;
  border: 2px solid yellow;
  transition: all ease-in 0.3s;
  font-weight: 300;
  margin-bottom: 5px;
}
.menu ul {
  display: flex;
  justify-content: space-evenly;
}

.menu ul li:hover {
  background-color: yellow;
  outline: 2px solid darkblue;
  color: darkblue;
  font-weight: 900;
  opacity: 1;
}
