* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  background-image: url(./img/clouds.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 25px; */
  padding: 10px;
  border-radius: 10px;
}
.userName label {
  margin-top: 10px;
  display: inline-block;
  width: 95px;
}

.userName input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 150px;
}
.pass input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 150px;
}
.sec input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 150px;
}

.pass label {
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
  width: 95px;
}

.sec label {
  display: inline-block;
  width: 95px;
}

.buttons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.buttons input {
  width: 55px;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  transition: ease-in-out 0.3s;
}

.buttons input:hover {
  width: 75px;
  background-color: #fff;
  border: none;
  color: black;
  font-weight: 500;
}

form {
  width: 55vw;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(148, 177, 233, 1) 0%,
    rgba(209, 174, 238, 0.8211659663865546) 100%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  border-radius: 20px;
}

.login {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.login h1 {
  font-size: 25px;
}
